*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #2C1B35;
}

.table {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.leader {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 520px;
    height: 390px;
}

.leader li {
    background-color: #fff;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.leader li .list_num {
    float: left;
    line-height: 40px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
    margin: 15px;
    font-weight: bold;
    width: 20px;
    text-align: right;
    margin-left: 10px;
}

.leader li h2 {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    margin-top: 15px;
    padding-right: 20px;
}

.leader li h2 .number {
    float: right;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.leader li img {
    max-width: 100px;
    float: left;
    margin: 15px 20px;
    margin-left: 0;
    border-radius: 100%;
}
