<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/core/css/core.css">
    <script type="text/javascript" src="/static/core/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/core/js/centrifuge.min.js"></script>
    <script type="text/javascript" src="/static/core/js/core.js"></script>
</head>
<body>
<div class="table">
    <div class="table-cell">
        <ul class="leader" id="leaderboard">
            {% for item in auto_items %}
            <li id="item{{ item.pk }}">
                <span class="list_num">
                    {{ forloop.counter }}
                </span>
                <img src="{% if item.image %}{{ item.image.url }}{% endif %}" />
                <h2>
                    {{ item.get_full_name }}<span class="number">{% firstof item.value "0" %}</span>
                </h2>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
